parameters:
	inferPrivatePropertyTypeFromConstructor: true
	universalObjectCratesClasses:
		- Sabre\VObject\Document
	ignoreErrors:
		- '#Property Sabre.VObject.Document::.FULLNAME .Sabre.VObject.Property. does not accept string#'
		- '#Property Sabre.VObject.Document::.IMAGEURL .Sabre.VObject.Property. does not accept string#'
